<strong>Olá, {{ receiver_name }} </strong>
<p>Houve um novo agendamento, confira os detalhes abaixo: </p>
<p>
  <strong>Médico: </strong> {{ doctor_name }} <br />
  <strong>Paciente: </strong> {{ user_name }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <small>
  </small>
</p>
