<strong>Olá, {{ provider }} </strong>
<p>Houve um novo agendamento, confira os detalhes abaixo: </p>
<p>
  <strong>Médico: </strong> {{ doctor }} <br />
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <small>
  </small>
</p>
